@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

main {
  overflow: hidden; }

.container {
  width: 85%;
  max-width: 1600px;
  margin: 0 auto; }

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 35px 0;
  z-index: 10;
  background-color: #0b2231; }
  header nav .flex {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header nav button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-weight: 600;
    font-size: 20px;
    color: #fff; }

section.home {
  position: relative;
  background: linear-gradient(180deg, #071D2C 0%, #0D2E45 47.83%);
  height: 100vh; }
  section.home .mallas {
    position: absolute;
    bottom: -139px; }
  section.home .container {
    height: 100%;
    display: flex;
    align-items: center; }
  section.home .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(31px);
    width: 100%; }
    section.home .content .part1 h1 {
      font-weight: 600;
      font-size: 80px;
      color: #fff;
      line-height: 85px;
      max-width: 845px; }
    section.home .content .part1 p {
      margin-top: 40px;
      margin-bottom: 30px;
      font-weight: 300;
      font-size: 20px;
      color: #fff; }
    section.home .content .part1 button {
      background-color: #1CAAE2;
      border: none;
      color: #fff;
      font-size: 20px;
      font-weight: 600;
      padding: 19px 40px;
      cursor: pointer; }
    section.home .content .part2 img {
      width: 28vw; }

section.nosotros {
  padding: 100px 0; }
  section.nosotros .content {
    display: flex;
    justify-content: space-between; }
  section.nosotros .part1 {
    width: 55%; }
    section.nosotros .part1 img {
      width: 90%; }
  section.nosotros .part2 {
    padding-top: 80px;
    width: 45%;
    display: flex;
    justify-content: flex-end; }
    section.nosotros .part2 h2 {
      font-weight: 600;
      font-size: 55px;
      color: #1CAAE2; }
    section.nosotros .part2 .info {
      margin-top: 60px;
      display: flex;
      align-items: center; }
      section.nosotros .part2 .info img {
        width: 71px; }
      section.nosotros .part2 .info h3 {
        font-weight: 600;
        font-size: 26px; }
    section.nosotros .part2 p {
      font-weight: 300;
      font-size: 18px; }

section.contactopage.open {
  transform: translateX(0%); }

section.contactopage {
  height: 100vh;
  width: 100%;
  z-index: 20;
  position: fixed;
  transition: transform 0.5s ease;
  background: linear-gradient(180deg, #071D2C 0%, #0D2E45 47.83%);
  padding: 60px 0;
  transform: translateX(100%);
  overflow: hidden; }
  section.contactopage .container {
    height: 100%;
    position: relative; }
  section.contactopage .cerrar {
    position: absolute;
    right: 0; }
    section.contactopage .cerrar button {
      background-color: transparent;
      border: none;
      z-index: 5;
      cursor: pointer; }
  section.contactopage .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    section.contactopage .content .content-formulario {
      width: 670px;
      color: #fff; }
      section.contactopage .content .content-formulario h2 {
        font-family: var(--fuente-montserrat);
        font-weight: 700;
        font-size: 40px;
        text-align: center; }
      section.contactopage .content .content-formulario form {
        margin-top: 40px; }
        section.contactopage .content .content-formulario form fieldset {
          border: none; }
          section.contactopage .content .content-formulario form fieldset .form-group {
            width: 100%;
            position: relative; }
            section.contactopage .content .content-formulario form fieldset .form-group input {
              font-family: var(--fuente-ptsans);
              margin-bottom: 16px;
              height: 64px;
              border: none;
              font-size: 20px;
              width: 100%;
              color: #fff;
              background: #1CAAE2;
              padding: 0 20px;
              padding-top: 8px; }
              section.contactopage .content .content-formulario form fieldset .form-group input:focus {
                outline-style: none; }
              section.contactopage .content .content-formulario form fieldset .form-group input:valid ~ label,
              section.contactopage .content .content-formulario form fieldset .form-group input:focus ~ label {
                font-size: 14px;
                left: 20px;
                top: 6px; }
            section.contactopage .content .content-formulario form fieldset .form-group input[type="number"]::-webkit-inner-spin-button,
            section.contactopage .content .content-formulario form fieldset .form-group input[type="number"]::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0; }
            section.contactopage .content .content-formulario form fieldset .form-group input[type="number"] {
              -moz-appearance: textfield; }
            section.contactopage .content .content-formulario form fieldset .form-group textarea {
              font-family: var(--fuente-ptsans);
              margin-bottom: 16px;
              height: 155px;
              border: none;
              font-size: 20px;
              width: 100%;
              color: #fff;
              background: #1CAAE2;
              padding: 0 20px;
              padding-top: 22px; }
              section.contactopage .content .content-formulario form fieldset .form-group textarea:focus {
                outline-style: none; }
              section.contactopage .content .content-formulario form fieldset .form-group textarea:valid ~ label,
              section.contactopage .content .content-formulario form fieldset .form-group textarea:focus ~ label {
                font-size: 14px;
                left: 20px;
                top: 6px; }
            section.contactopage .content .content-formulario form fieldset .form-group .form-label {
              position: absolute;
              left: 20px;
              top: 20px;
              color: #fff;
              font-family: var(--fuente-ptsans);
              font-size: 18px;
              cursor: text;
              transition: 0.1s linear;
              z-index: 1; }
          section.contactopage .content .content-formulario form fieldset .enviar {
            position: relative;
            width: fit-content; }
            section.contactopage .content .content-formulario form fieldset .enviar::before {
              content: "";
              position: absolute;
              width: 0;
              height: 0;
              border-bottom: 10px solid var(--color-rojo);
              border-left: 10px solid transparent;
              right: 0;
              bottom: 0;
              z-index: 2; }
            section.contactopage .content .content-formulario form fieldset .enviar input[type="submit"] {
              width: 150px;
              background-color: var(--color-oscuro);
              border: none;
              color: #fff;
              font-family: var(--fuente-montserrat);
              font-size: 20px;
              font-weight: 700;
              height: 38px;
              position: relative;
              cursor: pointer;
              background: #1CAAE2; }
            section.contactopage .content .content-formulario form fieldset .enviar img {
              position: absolute;
              top: 32.5%;
              right: 30px; }
  section.contactopage .pie {
    width: 100%;
    position: absolute;
    bottom: -34px; }
    section.contactopage .pie ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style-image: url(../icons/hexagono-negro.svg); }
      section.contactopage .pie ul li {
        color: #fff;
        font-family: var(--fuente-ptsans);
        font-size: 25px;
        font-weight: 700; }

section.thanks {
  position: relative;
  background: linear-gradient(180deg, #071D2C 0%, #0D2E45 47.83%);
  height: 100vh;
  padding: 60px 0; }
  section.thanks .container {
    height: 100%; }
    section.thanks .container .content {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #fff; }
      section.thanks .container .content .mensaje {
        text-align: center; }
        section.thanks .container .content .mensaje h1 {
          font-size: 5vw; }
        section.thanks .container .content .mensaje p {
          font-size: 2vw;
          margin-bottom: 30px; }
        section.thanks .container .content .mensaje a {
          background: #1CAAE2;
          padding: 10px 20px;
          border-radius: 25px;
          text-decoration: none;
          color: #fff;
          font-size: 20px; }
      section.thanks .container .content .redes {
        margin-top: 30px; }
        section.thanks .container .content .redes p {
          font-size: 20px; }
        section.thanks .container .content .redes .red {
          display: flex;
          justify-content: center;
          margin-top: 10px; }
          section.thanks .container .content .redes .red a:nth-child(1) {
            margin-right: 20px; }

footer {
  position: relative;
  overflow: hidden;
  padding-bottom: 75px; }
  footer .fondo {
    background: linear-gradient(180deg, #071D2C 0%, #0D2E45 47.83%);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2; }
  footer img.mallas {
    position: absolute;
    bottom: -211px;
    z-index: -2; }
  footer .content {
    padding-top: 44px;
    z-index: 3;
    display: flex;
    justify-content: space-between; }
    footer .content .item {
      width: 30%; }
      footer .content .item h4 {
        font-weight: 600;
        font-size: 24px;
        color: #fff; }
      footer .content .item ul {
        list-style: none;
        padding-top: 40px; }
        footer .content .item ul li {
          font-weight: 400;
          font-size: 18px;
          color: #fff;
          padding: 16px 0; }
          footer .content .item ul li a {
            text-decoration: none;
            color: #fff; }
    footer .content .item:nth-child(2) div {
      text-align: center;
      padding-top: 40px; }
    footer .content .item:nth-child(2) h4 {
      text-align: center; }
    footer .content .item:nth-child(2) img {
      padding: 0 8px; }

section.home .content .part2 .img2 {
  display: none; }

section.nosotros .part1 .imgnosotros2 {
  display: none; }

@media (max-width: 1531px) {
  section.home .content .part1 h1 {
    font-size: 60px;
    line-height: 65px;
    max-width: 777px; } }

@media (max-width: 1465px) {
  section.nosotros .part2 h2 {
    font-size: 45px; }
  section.nosotros .part2 {
    padding-top: 0px; }
  section.nosotros .content {
    align-items: center; } }

@media (max-width: 1205px) {
  section.nosotros .part2 h2 {
    font-size: 35px; }
  section.nosotros .part2 .info {
    margin-top: 14px; } }

@media (max-width: 1280px) {
  header {
    padding: 19px 0; } }

@media (max-width: 1055px) {
  section.home .content .part1 button {
    padding: 11px 24px; }
  section.home .content .part2 img {
    width: 300px; } }

@media (max-width: 921px) {
  section.home .content .part1 h1 {
    font-size: 40px;
    line-height: 55px;
    max-width: 777px; } }

@media (max-width: 695px) {
  section.home .content .part2 img {
    width: 260px; }
  section.home .content .part1 h1 {
    font-size: 35px;
    line-height: 55px;
    max-width: 777px; }
  section.home .content .part1 button {
    padding: 8px 17px; }
  section.home .content .part1 p {
    font-size: 18px; }
  section.home .content {
    flex-direction: column; }
  section.home .content .part1 {
    text-align: center; }
  section.home .content .part1 p {
    margin-top: 10px;
    margin-bottom: 20px; }
  section.home .content .part2 {
    margin-top: 30px; }
  section.nosotros .content {
    flex-direction: column-reverse; }
  section.nosotros .part2 {
    width: 100%;
    justify-content: center; }
  section.nosotros .part1 {
    width: 100%;
    display: flex;
    justify-content: center; }
    section.nosotros .part1 img {
      width: 80%;
      margin-top: 50px; }
  footer .content div:nth-child(3) {
    display: none; }
  footer .content {
    justify-content: space-around; }
  footer .content .item h4 {
    font-size: 20px; }
  footer .content .item ul li {
    font-size: 15px; } }

@media (max-width: 425px) {
  header {
    padding: 22px 0; }
  header nav .flex img {
    width: 100px; }
  header nav button {
    font-size: 16px; }
  section.home .content {
    flex-direction: column; }
  section.home .content .part1 {
    text-align: center; }
  section.home .content .part1 h1 {
    text-align: center;
    font-size: 26px;
    line-height: 40px; }
  section.home .content .part1 p {
    font-size: 16px;
    margin-top: 22px;
    margin-bottom: 22px; }
  section.home .content .part1 button {
    font-size: 16px;
    padding: 7px 16px;
    font-weight: 400; }
  section.home {
    height: 424px; }
  section.home .content .part2 {
    margin-top: 48px;
    width: 100%;
    display: flex;
    justify-content: center; }
  section.home .content .part2 img {
    width: auto;
    width: 80%; }
  section.home .content .part2 .img1 {
    display: none; }
  section.home .content .part2 .img2 {
    display: block; }
  section.home .container {
    align-items: flex-start; }
  section.home .content {
    margin-top: 73px; }
  section.nosotros .content {
    flex-direction: column-reverse; }
  section.nosotros .part1,
  section.nosotros .part2 {
    width: 100%; }
  section.nosotros .part2 {
    padding-top: 0px;
    justify-content: center; }
  section.nosotros .part2 h2 {
    text-align: center;
    font-size: 30px; }
  section.nosotros .part2 .info h3 {
    font-size: 16px; }
  section.nosotros .part2 p {
    font-size: 12px; }
  section.nosotros .part2 .info {
    justify-content: center; }
  section.nosotros {
    padding: 125px 0;
    padding-bottom: 60px; }
  section.nosotros .part1 {
    justify-content: center;
    display: flex; }
  section.nosotros .part1 .imgnosotros1 {
    display: none; }
  section.nosotros .part1 .imgnosotros2 {
    display: block;
    width: 80%; }
  section.nosotros .part2 .info img {
    width: 46px; }
  section.nosotros .part2 .info {
    margin: 23px; }
  footer .content div:nth-child(3) {
    display: none; }
  footer .content .item {
    width: 50%; }
  footer .content .item h4 {
    font-size: 16px; }
  footer .content .item ul {
    padding-top: 10px; }
  footer .content .item ul li {
    font-size: 13px; }
  footer .content .item:nth-child(2) div {
    padding-top: 18px;
    text-align: start;
    padding-left: 13px; }
  footer .content .item:nth-child(2) img {
    width: 45px; }
  footer img.mallas {
    bottom: -75px; }
  section.contactopage .content .content-formulario h2 {
    font-size: 20px; }
  section.contactopage .content .content-formulario form {
    margin-top: 22px; }
  section.contactopage .cerrar button img {
    width: 50px; }
  section.contactopage {
    padding: 30px 0; }
  section.contactopage .content .content-formulario form fieldset .form-group input {
    font-size: 18px; }
  section.contactopage .content .content-formulario form fieldset .form-group .form-label {
    font-size: 18px; }
  section.contactopage .content .content-formulario form fieldset .form-group input {
    height: 58px; }
  section.contactopage .content .content-formulario form fieldset .form-group input:valid ~ label, section.contactopage .content .content-formulario form fieldset .form-group input:focus ~ label {
    font-size: 12px; }
  section.contactopage .content .content-formulario form fieldset .form-group .form-label {
    top: 16px; }
  section.thanks .container .content .mensaje h1 {
    font-size: 35px; }
  section.thanks .container .content .mensaje p {
    font-size: 20px; }
  section.thanks .container .content .mensaje a {
    background: #1CAAE2;
    padding: 7px 16px;
    border-radius: 25px;
    text-decoration: none;
    color: #fff;
    font-size: 18px; }
  section.thanks .container .content .redes p {
    font-size: 16px; }
  section.thanks .container .content .redes .red img {
    width: 30px; } }
