@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  main{
      overflow: hidden;
  }

  .container{
    width: 85%;
    max-width: 1600px;
    margin: 0 auto;
  }

  header{
      position: fixed;
      width: 100%;
      left: 0;
      top: 0;
      padding: 35px 0;
      z-index: 10;
      background-color: #0b2231;
      nav{
          .flex{              
          display: flex;
          justify-content: space-between;
          align-items: center;
          }
          button{
              cursor: pointer;
              border: none;
              background-color: transparent;
font-weight: 600;
font-size: 20px;
color: #fff;
          }
      }
  }

  section.home{
    position: relative;
    // overflow: hidden;
    .mallas{
      position: absolute;
      bottom: -139px;
    }
    background: linear-gradient(180deg, #071D2C 0%, #0D2E45 47.83%);
      height: 100vh;
      .container{
          height: 100%;
          display: flex;
    align-items: center;
      }
      .content{
          display: flex;
          align-items: center;
          justify-content: space-between;
          transform: translateY(31px);
        .part1{
            h1{
font-weight: 600;
font-size: 80px;
color: #fff;
line-height: 85px;
            }
            p{
                margin-top: 40px;
                margin-bottom: 30px;
font-weight: 300;
font-size: 20px;
color: #fff;
            }
            button{
                background-color: #1CAAE2;
                border: none;
                color: #fff;
                font-size: 20px;
                font-weight: 600;
                padding: 19px 40px;
                cursor: pointer;
            }
        }
        .part2{
            img{
                width: 28vw;
            }
        }
      }
  }

  section.nosotros{
      padding: 100px 0;
      .content{
        display: flex;
        justify-content: space-between;
      }
      .part1{
          width: 55%;
          img{
            width: 100%;
          }
      }
      .part2{
          padding-top: 80px;
          width: 45%;
          display: flex;
          justify-content: center;
          h2{
            font-weight: 600;
            font-size: 55px;
            color: #1CAAE2;
          }
          .info{
              margin-top: 60px;
              display: flex;
              align-items: center;
              h3{
                font-weight: 600;
                font-size: 26px;
              }
          }
          p{
              padding-left: 45px;
font-weight: 300;
font-size: 18px;
          }
      }
  }

  section.contactopage.open{
    transform: translateX(0%);
  }
  
  section.contactopage{
    height: 100vh;
    width: 100%;
    z-index: 20;
    position: fixed;
    transition: transform 0.5s ease;
    background: linear-gradient(180deg, #071D2C 0%, #0D2E45 47.83%);
    padding: 60px 0;
    transform: translateX(100%);
    overflow: hidden;
    .container{
      height: 100%;
      position: relative;
    }
    .cerrar{
      position: absolute;
      right: 0;
      button{
        background-color: transparent;
        border: none;
        z-index: 5;
        cursor: pointer;
      }
    }
    .content{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      .content-formulario{      
      width: 670px;
      color: #fff;    
        h2{
          font-family: var(--fuente-montserrat);
          font-weight: 700;
          font-size: 40px;
          text-align: center;
        }
        form{
          margin-top: 40px;
          fieldset{
            border: none;
            .form-group{
              width: 100%;
              position: relative;
              input{
                font-family: var(--fuente-ptsans);
                margin-bottom: 16px;
                height: 64px;
                border: none;
                font-size: 20px;
                width: 100%;
                color: #fff;
                background: #1CAAE2;
                padding: 0 20px;
                padding-top: 8px;      
                &:focus {
                  outline-style: none;
                }         
              &:valid ~ label,
              &:focus ~ label{
                font-size: 14px;
                left: 20px;
                top: 6px;
              }   
              }
              input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
  
            input[type="number"] {
              -moz-appearance: textfield;
            }
              textarea{
                font-family: var(--fuente-ptsans);
                margin-bottom: 16px;
                height: 155px;
                border: none;
                font-size: 20px;
                width: 100%;
                color: #fff;
                background: #1CAAE2;
                padding: 0 20px;
                padding-top: 22px;              
                &:focus {
                  outline-style: none;
                }         
                &:valid ~ label,
                &:focus ~ label{
                font-size: 14px;
                left: 20px;
                top: 6px;
              } 
              }
              .form-label {
                position: absolute;
                left: 20px;
                top: 20px;
                color: #fff;
                font-family: var(--fuente-ptsans);
                font-size: 18px;
                cursor: text;
                transition: 0.1s linear;
                z-index: 1;
              }           
            }
            .enviar{
              position: relative;
              width: fit-content;
              &::before{
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-bottom: 10px solid var(--color-rojo);
                border-left: 10px solid transparent;
                right: 0;
                bottom: 0;
                z-index: 2;
              }
              
            input[type="submit"]{
              width: 150px;
              background-color: var(--color-oscuro);
              border: none;
              color: #fff;
              font-family: var(--fuente-montserrat);
              font-size: 20px;
              font-weight: 700;
              height: 38px;
              position: relative;
              cursor: pointer;
              padding-right: 10px;              
              background: #1CAAE2;
              }
              img{
                position: absolute;
                top: 32.5%;
                right: 30px;
              }
            }
          }
        }
      }
    }
    .pie{    
      width: 100%;
      position: absolute;
      bottom: -34px;
      ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-image: url(../icons/hexagono-negro.svg);
        li{
          color: #fff;
          font-family: var(--fuente-ptsans);
          font-size: 25px;
          font-weight: 700;
        }
      }
    }
  }

  footer{
    position: relative;
    overflow: hidden;
    img.mallas{
      position: absolute;
      bottom: -211px;
      z-index: 1;
    }
      padding-top: 44px;
      padding-bottom: 75px;
      background: linear-gradient(180deg, #071D2C 0%, #0D2E45 47.83%);
      .content{
        z-index: 3;
          display: flex;
          justify-content: space-between;
          .item{
              width: 30%;
              h4{
                font-weight: 600;
                font-size: 24px;
                color: #fff;
              }
              ul{
                  list-style: none;
                  padding-top: 40px;
                  li{
                    font-weight: 400;
                    font-size: 18px;
                    color: #fff;
                    padding: 16px 0;
                  }
              }
          }
          .item:nth-child(2){
            //   display: flex;
            //   flex-direction: column;
            //   justify-content: center;
              div{
                  text-align: center;
                  padding-top: 40px;
              }
              h4{
                  text-align: center;
              }
              img{
                  padding: 0 8px;
              }
          }
      }
  }